<!DOCTYPE html>
<html>
    <head>
        <title>Kony_blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">'kony's Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">{% for post in posts %}
   			{{ post }}
   			<p>{{ post.text|linebreaksbr }}</p>
			{% endfor %}</a></h2>
            <p>Lorem kurcze ipsum yo
			</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </article>
    </body>
</html>